.bodi {
    color: black;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid rgb(221, 221, 221);
    display: block;
    flex-shrink: 0;
    margin: 0 auto;
    min-height: 0;
    transition: .2s;
    width: 400px; 
    padding-bottom: 30px;   
    margin-top: 30px;
    padding-left: 20px;
    height: 80vh; /* Adjust this value as needed */
}

.title{
    height: 24px;
    margin: 0 0;
    font-family: 'Lumanosimo', cursive;
    font-size: 30px;
    margin-bottom: 4px;
  
}
.title h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Lumanosimo', cursive;
    margin-top: 5px;
    margin-bottom: 0%;
    padding: 0%;
}
.title h3 a {
    text-decoration: none;
    color: black;
}
.form {
    font-family: 'Signika', sans-serif;
}
.form input {
    padding-left: 10px;
    margin-left: 15px;
    width: 80%;
    height: 23px;
    font-family: 'Handlee', cursive;
    /* font-family: 'Caveat', cursive; */
    font-size: 15px;
}
.form .head {
    font-size: 20px;
}
.basic {
    line-height: 35px;
}
.basic .head {
    color: black;
}
/* .information {
    line-height: 35px;
}
.information .head {
    color: green;
}
.information1 #options {
    margin-left: 35px;
} */
.createGmail {
    line-height: 35px;
}
.createGmail .head {
    color: black;
}

.password-container {
    position: relative;
    margin-bottom: 0px;
    width: 90%;
}

.password-input {
    padding-right: 40px;
    
}

.toggle-password {
    display: none;
    position: absolute;
    top: 80%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Use Font Awesome for the eye icon */
.fa {
    font-size: 20px;
}

.createbtn #btn{
    font-family: 'Signika', sans-serif;
    height: 30px;
    background-color: rgb(249, 218, 77);
    border-radius: 8px;
}

.line{
    border: none;
    border-top: 2px solid  rgb(221, 221, 221)  ; 
    width: 100%; 
    margin-top: 10px;
     
 }
 
 .last-footer {
     margin-top: 20px;
     margin-left: 30px;
     text-decoration: none;
     font-family: 'Signika', sans-serif;
     color:rgb(166, 166, 166);
     padding: 5px;
     text-align: center; 
 }